<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- 로그 파일 저장 경로 설정 -->
    <property name="LOG_PATH" value=".logs"/>

    <!-- 콘솔 로그 출력 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-36logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일 로그 출력 (일자별 롤링, 30일 보관) -->
    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-36logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 -->
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileAppender"/>
    </root>

</configuration>
